.digits-view rect.pad-sum {
    stroke: none;
    fill: none;
}

.digits-view rect.pad-background {
    stroke: black;
    fill: white;
}

.digits-view path.pad-row {
    fill: none;
    stroke: black;
}

.digits-view .row-highlight, .digits-view .col-highlight {
    stroke: slateblue;
    fill: none;
}