.sector-view-component path.module {
    fill: none;
    stroke: darkgray;
}

.sector-view-component path.pad {
    fill: none;
    stroke: lightgray;
    stroke-width: 0.2px;
}

.sector-view-component path.track {
    fill: none;
    stroke: #3392e3;
    stroke-dasharray: 1;
    stroke-width: 1px;
}

.sector-view-component path.track.fade {
    stroke: #cfe9ff;
}

.sector-view-component path.track.selected {
    stroke: #3392e3;
    stroke-width: 2px;
    stroke-dasharray: 2 1;
}

.sector-view-component path.tracklet {
    stroke: red;
    stroke-width: 1px;
}

.sector-view-component path.tracklet.fade {
    stroke: #ffdddd;
}

.sector-view-component path.tracklet.selected {
    stroke: red;
    stroke-width: 2px;
}

.sector-view-component .zoom {
    fill: transparent;
}

.sector-view-component text.sector-number {
    text-anchor: middle;
    dominant-baseline: central;
}

.sector-view-component text.layer-number {
    text-anchor: end;
    dominant-baseline: text-after-edge;
    font-size: 3px;
}

.sector-view-component .zoom-box {
    fill: rgb(250, 250, 250);
    stroke: darkgray;
}
