.sector-view-component rect.detector {
    fill: none;
    stroke: lightgray;
}

.sector-view-component path.track {
    fill: none;
    stroke: lightskyblue;
    stroke-dasharray: 5;
    stroke-width: 2px;
}

.sector-view-component .zoom {
    fill: transparent;
}

.sector-view-component text.sector-number {
    text-anchor: middle;
    dominant-baseline: central;
}

.sector-view-component text.layer-number {
    text-anchor: end;
    dominant-baseline: text-after-edge;
    font-size: 3px;
}

.sector-view-component path.track.not-selected {
    stroke: rgb(234, 246, 255);
}

.sector-view-component .half-chamber-div {
    stroke: lightgray;
}

.sector-view-component .zoom-box {
    fill: rgb(250, 250, 250);
    stroke: darkgray;
}

.sector-view-component .tracklet-plane {
    stroke: #f99997;
    fill: none;
}

.sector-view-component .tracklet-plane.not-selected {
    stroke: #ffdddd;
}

.sector-view-component .tracklet-plane.selected {
    stroke: red;
}