.supermodule-view-component rect.detector {
    fill: lightgray;
    stroke: none;
}

.supermodule-view-component rect.detector-outline {
    fill: none;
    stroke: white;
}

.supermodule-view-component path.track {
    fill: none;
    stroke: lightskyblue;
}


.supermodule-view-component path.track.selected {
    fill: none;
    stroke: red;
}

.supermodule-view-component line.bin {
    stroke: rgb(233, 233, 233);    
}