.supermodule-component rect.detector {
    fill: none;
    stroke: darkgray;
}

.supermodule-component path.track {
    fill: none;
    stroke: lightskyblue;
}


.supermodule-component path.track.selected {
    fill: none;
    stroke: red;
}