.supermodule-view-component path.module {
    fill: none;
    stroke: darkgray;
}

.supermodule-view-component path.pad {
    fill: none;
    stroke: lightgray;
    stroke-width: 0.2px;
}

.supermodule-view-component path.track {
    fill: none;
    stroke: #3392e3;
    stroke-dasharray: 1;
    stroke-width: 1px;
}

.supermodule-view-component path.track.other {
    stroke: #b37ce5;
}

.supermodule-view-component path.track.esd {
    stroke: #cfe9ff;
}

.supermodule-view-component path.track.selected {
    stroke: #3392e3;
    stroke-width: 2px;
    stroke-dasharray: 2 1;
}

.supermodule-view-component path.tracklet.other {
    stroke: lightgray;
    stroke-width: 0.2px;
    fill: #ffeda0;
}

.supermodule-view-component path.tracklet.matched {
    stroke: lightgray;
    stroke-width: 0.2px;
    fill: #feb24c;
}

.supermodule-view-component path.tracklet.selected, .supermodule-view-component path.tracklet {
    stroke: lightgray;
    stroke-width: 0.2px;
    fill: #f03b20; 
}

.supermodule-view-component rect.zoom-box {
    fill: none;
    stroke: darkgray;
    stroke-dasharray: 1 2 1;
}

.supermodule-view-component rect.zoom-box.hidden {
    display: none;
}

.supermodule-view-component .stack-number, .supermodule-view-component .stack-number-title {
    text-anchor: middle;
    dominant-baseline: central;
}

.supermodule-view-component .stack-number-title {
    font-weight: bold;
}

.supermodule-view-component path.module.tpc {
    fill: #fafafa;
    stroke: darkgray;
}