rect.tbsum {
    stroke: black;
    fill: #777;
}

rect.tbin {
    fill: #eee;
    stroke: none;
}

.time-bin-view text.panel-label {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
}

.time-bin-view .tick text {
    font-size: 6px;
    font-weight: bold;
}