rect.tbsum {
    stroke: black;
    fill: #777;
}

rect.tbin {
    fill: #eee;
    stroke: none;
}

.time-bin-view .panel-label {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
}

.time-bin-view .pad-adc-label {
    font-size: 9px;
    font-weight: bold;
}

.time-bin-view .y-axis .tick text {
    font-size: 9px;
}