rect.tbsum {
    stroke: none;
    fill: #b2b2b2;
}

rect.tbin {
    fill: #eee;
    stroke: none;
}

.time-bin-view .panel-label {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
}

.time-bin-view .pad-adc-label {
    font-size: 9px;
    font-weight: bold;
}

.time-bin-view .axis-name {
    font-size: 9px;
    font-weight: bold;
    font-style: italic;
}

.time-bin-view .axis-name.tbin {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
}

.time-bin-view .vis-name {
    font-size: 10px;
    font-weight: bold;
}

.time-bin-view .y-axis .tick text {
    font-size: 9px;
}

.time-bin-view line.divider {
    stroke: black;
}

.time-bin-view path.tracklet {
    stroke: rgb(209, 39, 39);
}