.track-information div.info-title {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 0.5em 0;
}

div.track-information {
    width: 300px; 
    height: 300px; 
    padding: 0 1em; 
    border: 1px solid black;
    overflow-y: scroll;
    font-size: small;
}

div.track-information em {
    font-weight: bold;
    font-style: normal;
    color: rgb(0, 132, 255);
}