{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"> -->
<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

<style>
  .column {
    /* border: 1px solid black; */
  }
</style>

{% endblock %}

{% block content %}
{% raw %}
<section class="section">
  <div id="app" class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a @click="showSessions">Sessions</a></li>
        <li v-if="selectedSession != null" class="is-active"><a @click="">{{ selectedSession.name }}</a></li>
      </ul>
    </nav>
    <div v-if="sessionsVisible" class="">
      <div>
        <b-button @click="createVisible = true" label="Create new" icon="plus"></b-button>
      </div>
      <div v-for="session in sessions" :key="session.id">
        <a href="#" @click="selectSession(session)">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{ session.name }}</p>
                  <p class="subtitle is-6"></p>
                </div>
              </div>

              <div class="content">
                {{ session.description }}
                <br>
                <time datetime="2016-1-1">{{ session.start }}</time>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div v-if="createVisible">
      <p class="title is-5">Create new session</p>
      <form>
        <b-field label="Session name">
          <b-input type="input" placeholder="Unique name for this session" v-model="newSession.name">
          </b-input>
        </b-field>
        <b-field label="Description">
          <b-input type="input" placeholder="Description for this session" v-model="newSession.description">
          </b-input>
        </b-field>
        <b-field>
          <b-button label="Create session" @click="createSession"></b-button>
        </b-field>
      </form>
    </div>
    <div v-if="selectedSessionVisible" class="">
      <div v-if="selectedSession.events == null || selectedSession.events.length == 0">
        No data loaded
      </div>
      <div v-else>
        <div class="level">
          <div class="level-item">
            <div class="field is-grouped">
              <div class="control">
                <b-upload v-model="dropFile" drag-drop accept="application/json">
                  <div class="content has-text-centered">
                    
                      <b-icon icon="upload" size="is-medium">
                      </b-icon>
                    <span>{{ dropFile == null ? "Drop your files here or click to upload" : dropFile.name }}</span>
                  </div>
                </b-upload>
              </div>
              <div class="control">
                <b-button label="Upload file" @click="uploadFile"></b-button>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <b-field label="Events"></b-field>
            <b-table :data="selectedSession.events" :selected.sync="selectedEvent" @select="selectedTrack = null"
              focusable>
              <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40">
                  {{ props.row.id }}
                </b-table-column>
              </template>
            </b-table>
          </div>
          <div class="column">
            <b-field label="Tracks"></b-field>

            <b-table v-if="selectedEvent != null && selectedEvent.tracks != null" :data="selectedEvent.tracks"
              :selected.sync="selectedTrack" focusable>
              <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40">
                  {{ props.row.id }}
                </b-table-column>
              </template>
            </b-table>
          </div>
          <div class="column">
            <b-field label="Tracklets"></b-field>

            <b-table v-if="selectedEvent != null && selectedEvent.tracks != null" :data="selectedEvent.trklts"
              :selected.sync="selectedTrklt" focusable>
              <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40">
                  {{ props.row.id }}
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endraw %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
  integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  var socket = io();
  socket.on('connect', function () {
    console.log('connected to server');
    if (app != null) {
      console.log("Return to sessions")
      app.showSessions()
    }
  });
</script>

<script>
  Vue.use(Buefy, {
    defaultIconPack: 'mdi',
    defaultContainerElement: '#content'
  })

  var app = new Vue({
    el: '#app',
    data: {
      selectedSession: null,
      selectedEvent: null,
      selectedTrack: null,
      selectedTrklt: null,
      sessions: [],
      createVisible: false,
      skipEmitClientSelection: false,
      dropFile: null,

      newSession: {
        name: "",
        description: ""
      }

    },
    computed: {
      actions() {
        result = []
        for (const action of this.available_actions) {
          result.push({
            id: action,
            text: action
          })
        }

        return result
      },
      sessionsVisible() {
        return this.selectedSession == null && !this.createVisible;
      },
      selectedSessionVisible() {
        return this.selectedSession != null
      },
      selectedSessionData() {
        const selection = {
          sessionId: this.selectedSession != null ? this.selectedSession.id : null,
          eventId: this.selectedEvent != null ? this.selectedEvent.id : null,
          trackId: this.selectedTrack != null ? this.selectedTrack.id : null,
          trkltId: this.selectedTrklt != null ? this.selectedTrklt.id : null,
        }

        if (selection.sessionId != null && selection.eventId != null)
          return selection
        else return null
      }
    },
    methods: {
      selectSession(session) {
        socket.emit('join-session',
          session.id
        )
      },
      selectEvent(event) {
        console.log(event)
      },
      setSessionSummary(sessionSummary) {
        this.selectedSession = sessionSummary
        this.selectedEvent = null
      },
      showSessions() {
        this.selectedSession = null
        this.createVisible = false
      },
      createSession() {
        console.log(`Emitting 'create-session' with '${JSON.stringify(this.newSession)}'`)
        socket.emit(
          "create-session",
          this.newSession,
          this.showSessions
        )
      },
      updateSessions(sessions) {
        this.sessions = sessions
      },
      emitClientSelection() {
        if (this.skipEmitClientSelection) return

        const selection = this.selectedSessionData

        if (selection != null) {
          socket.emit('update-session-selection', selection)
          console.log("updating session selection", selection)
        }
      },
      applySessionSelection(newSelection) {
        if (this.selectedSession != null && this.selectedSession.id == newSelection.sessionId) {
          this.skipEmitClientSelection = true
          this.selectedEvent = this.selectedSession.events.find(e => e.id == newSelection.selectedEventId)
          if (this.selectedEvent != null) {
            this.selectedTrack = this.selectedEvent.tracks.find(e => e.id == newSelection.selectedTrackId)
            this.selectedTrklt = this.selectedEvent.trklts.find(e => e.id == newSelection.selectedTrkltId)
          }
          console.log(newSelection)
          // The next line ensures the flag is reset *after* the watch
          // selectedSessionData() method below is called
          this.$nextTick(() => this.skipEmitClientSelection = false)
        }
      },
      uploadFile() {
        let formData = new FormData()
        formData.append('file', this.dropFile)
        formData.append('sessionId', this.selectedSession.id);

        console.log("Uploading file")
        axios
          .post('/upload-file',
            formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(function () {
            console.log('SUCCESS!!');
          })
          .catch(function () {
            console.log('FAILURE!!');
          })
      }
    },
    watch: {
      selectedSessionData() {
        this.emitClientSelection()
      }
    }
  })
</script>
<script>

  socket.on('session-list', function (data) {
    console.log("session-list", data)
    app.updateSessions(data)
    app.selectSession(data[0])
  })

  socket.on('session-selection-changed', function (newSelection) {
    console.log("Selection changed: ", newSelection)
    app.applySessionSelection(newSelection)
  })

  socket.on('session-summary-changed', function (summary) {
    console.log("Summary changed: ", summary)
    app.setSessionSummary(summary)
  })

  socket.on('info', function (msg) {
    console.log(msg)
  })
</script>
{% endblock %}