.digits-view rect.pad-sum {
    stroke: white;
    fill: none;
}

.digits-view rect.pad-background {
    stroke: black;
    fill: white;
}

.digits-view path.pad-row {
    fill: none;
    stroke: black;
}

.digits-view .row-highlight, .digits-view .col-highlight {
    stroke: slateblue;
    fill: none;
}

.digits-view .layer-labels text {
    text-anchor: middle;
    dominant-baseline: central;
}

.digits-view .pad-row-axis-label {
    fill: currentcolor;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-anchor: middle;
    dominant-baseline: central;
    font-stretch: extra-condensed;
}

.digits-view .layer-axes {
    color: #888;
}